a, a:hover, a:focus, a:active {
     text-decoration: none;
     color: inherit;
}

h1{
  font-size: calc(20px + 2vmin);

}

p{
  margin: 0px;
}

h2{
  padding-top: 10px;
  padding-bottom: 10px;
}

section{
  padding-bottom: 3em;
}

.App {
  text-align: center;
  background-color: white;
  color: #10454F;
}

.icon{
  flex: 1;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.intro-header{
  font-size: calc(40px + 2vmin);
  text-align: left;
  margin-top: 2em;
  font-weight: 700;
}

.about-me-summary{
  width: 40em;
  display: inline-block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.education-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.education-summary{
  width: 22em;
}

.project-container{
  display: inline-flex;
  flex-direction: row;
  margin-top: 50px;

}

.project-panel{
  margin-top: 2vh;
  display: flex;
  margin-left: 1em;
  margin-right: 1em;
  flex-direction: row;
  border-radius: 20px;
  max-width: 20em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.small-title{
  font-size: calc(8px + 2vmin);
  text-decoration: underline;
}

.project-title{
  align-items: center;
}

.project-pic{
  width: auto;
  min-height: 250px;
}

.project-summary{
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 50px;
  font-size: calc(3px + 2vmin);
  align-self: center;
}

.nav-container{
  display: flex;
  min-height: 10vh;
  white-space: nowrap;
  align-items: center;

}

.nav-list{
  display: flex;
  margin-left: 20em;
  font-size: calc(10px + 2vmin);

}

.nav-item{
  display: flex;
  padding: 2vh 2vw 2vh 2vw;
}

.contact-div{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.contact-icon{
  margin-left: 2vw;
  margin-right: 2vw;
  max-width: auto;
  height: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-main-div {
  font-size: calc(10px + 2vmin);
}

.github-div{
  margin-top: 10vh;
  align-items: center;
  display: inherit;
}

.github-img{
  width: 15vw;
  margin-left: 2vw;
}

.resume-header {
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  flex-direction: row;
  min-height: 500px;
  margin-left: 300px;
  margin-right: 300px;
}

.aboutme-summary{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.experience{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 3em;
}

.tech-div{
  display: flex;
  flex-direction: column;
  width: 10em;
  height: 8em;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
}

.hobby-div{
  width: 10em;
  margin-left: 1em;
  margin-right: 1em;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  border-radius: 10px;
  padding: 1em 1em 1em 1em;
}

.skills-list{
  text-align: center;
  padding: 0;
  align-items: center;
}

.profile-container{
  align-items: center;
}

.footer{
   #TODO: add github link
}

.github-link {
  color: #61dafb;
}

.profile-pic{
  max-width: 20vw;
  flex: 1;
}

.summary-div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 0px;
  margin-bottom: 40px;
  max-width: 50vw;

}

.logo-img {
  max-width: 5em;
  flex: 1;
  margin: 2vh 2vw 2vh 2vw;
}

.title{
  font-size: 4vh;
  flex: 1;
}


.Summary-div {
  border-style: 'groove';
  padding: 40;
}

#contact{
  background-color: #506266;
  color: white;
  padding-top: 30px;

}

#aboutme{
  background-color: #506266;
  color: white;
  padding-top: 30px;
  align-content: center;
  justify-content: center;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
