a {
  text-decoration: none;
    color: #10454F;
}


p{
  margin: 0 0 0 0;
}

h1{
  margin: 0 0 0 0;
  font-size: calc(10px + 2vmin);

}

h2{
  padding-top: 20px;
  padding-bottom: 20px;
}

section{
  margin-bottom: 100px;
}


.App {
  text-align: center;
  background-color: white;
  color: #10454F;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.projects-div{
  display:flex;
}

.project-container{
  display: inherit;
  flex-direction: row;
  margin-top: 2vh;
  margin-left: 10vw;
  margin-right: 10vw;
  border: solid;
  padding-bottom: 5vh;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 100px;
  padding-bottom: 100px;
}

.project-panel{
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
}

.project-title{
  align-items: center;
}

.project-pic{
  min-width: 16vw;
  margin-left: 5vw;
}

.project-summary{
  display: inherit;
  max-width: 1000px;
  margin-left: 150px;
  flex: 2;
  align-items: center;
}

.nav-container{
  display: flex;
  min-height: 10vh;
  white-space: nowrap;
  align-items: center;

}

.nav-list{
  display: flex;
  margin-left: 20vw;
  font-size: calc(10px + 2vmin);

}

.nav-item{
  display: flex;
  padding: 2vh 2vw 2vh 2vw;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.app-main-div {
  font-size: calc(10px + 2vmin);
  margin-left: 100px;
  margin-right: 100px;
}

.github-div{
  margin-top: 10vh;
  align-items: center;
  display: inherit;
}

.github-img{
  width: 15vw;
  margin-left: 2vw;
}

.resume-header {
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
  min-height: 500px;
}

.aboutme-summary{
  display: flex;
  flex-direction: row;
  margin-left: 400px;
  padding-left: 300px;
  margin-right: 400px;
  align-items: center;
}

.profile-container{
}

.footer{
   #TODO: add github link
}

.github-link {
  color: #61dafb;
}

.profile-pic{
  max-width: 20vw;
  margin-left: 10vw;
}

.summary-div {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 80px;
  margin-bottom: 40px;
}

.logo-img {
  max-width: 5vw;
  flex: 1;
  margin: 2vh 2vw 2vh 2vw;
}

.title{
  font-size: 4vh;
  flex: 1;
}

.page{
  text-align: center;
  background-color: inherit;
  align-self: center;
}


.Summary-div {
  border-style: 'groove';
  padding: 40;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
